<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="{{ BASE_DIR }}/djangoapp/">eDealership</a>
                    <a class="navbar-brand" href="{{ BASE_DIR }}/djangoapp/about">About Us</a>
                    <a class="navbar-brand" href="{{ BASE_DIR }}/djangoapp/contact">Contact Us</a>
                </div>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                    <li>
                         <a class="btn btn-link" href="#">{{ user.first_name }}({{ user.username }})</a>
                         <a class="btn btn-link" href="{% url 'djangoapp:logout' %}">Logout</a>
                    </li>
                    {% else %}
                    <li>
                         <form class="form-inline" action="{% url 'djangoapp:login' %}" method="post">
                            {% csrf_token %}
                            <div class="input-group">Login:&ensp;
                                 <input type="text" class="form-control" placeholder="Username" name="username" >
                                 <input type="password" class="form-control" placeholder="Password" name="psw" >
                                 <button class="btn btn-primary" type="submit">Login</button>
                                 <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                            </div>
                         </form>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% if user.is_authenticated %}
        <form action="{% url 'djangoapp:add_review' dealer_id %}" method="post">
            <div class="container"> <!--Style root div with .container class -->
                {% csrf_token %}
                <h1>Add a review about {{ dealer_name}}</h1>
                <hr>
                <div class="form-group"> <!--Style second div with .form-group class -->
                    <label for="name"><b>Name</b></label>
                    <input type="text" class="form-control" placeholder="Enter your name here" name="name" required> <!--Style input with .form-control class -->
                    <label for="content"><b>Enter the review content: </b></label>
                    <input type="textarea" class="form-control" placeholder="Enter review here" name="content" required> <!--Style input with .form-control class -->
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="True" name="purchasecheck" id="purchasecheck">
                        <label class="form-check-label" for="purchasecheck">
                          Have purchased a car from {{ dealer_name }}
                        </label>
                    </div>
                    <label for="car"><b>Select your car (model-make-year): </b></label>
                    <select name="car" id="car" class="form-select" required>
                        {% for car in cars %}
                            <option selected value={{car.id}}>{{car.model}}-{{car.car_make.name}}-{{ car.year|date:"Y" }}</option>
                        {% endfor %}
                   </select>
                   </br>
                   <label for="purchasedate"><b>Enter the purchase date: </b></label>
                   <input class="date-own form-control" type="text" placeholder="mm/dd/yyyy" name="purchasedate" id="purchasedate">
                    <button class="btn btn-primary" type="submit">Submit</button> <!--Style button with .btn and .btn-primary class -->
                </div>
            </div>
        </form>
        <script type="text/javascript">
            $('.date-own').datepicker({
                format: 'mm/dd/yyyy'
            });
        </script>
        {% endif %}
    </body>
</html>